<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testtest</property>
        <property name="hibernate.connection.username">testtest</property>
        <property name="hibernate.connection.password">testtest!</property>


        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>


        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Show SQL statements -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapping annotated classes -->
        <mapping class="mate.academy.model.CinemaHall"/>
        <mapping class="mate.academy.model.Movie"/>
        <mapping class="mate.academy.model.MovieSession"/>
        <mapping class="mate.academy.model.ShoppingCart"/>
        <mapping class="mate.academy.model.Ticket"/>
        <mapping class="mate.academy.model.User"/>
        <mapping class="mate.academy.model.Order"/>
    </session-factory>
</hibernate-configuration>