<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/ticket_app?serverTimezone=UTC</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">root</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="mate.academy.model.Movie"/>
        <mapping class="mate.academy.model.CinemaHall"/>
        <mapping class="mate.academy.model.MovieSession"/>
        <mapping class="mate.academy.model.User"/>
        <mapping class="mate.academy.model.ShoppingCart"/>
        <mapping class="mate.academy.model.Ticket"/>
        <mapping class="mate.academy.model.Order"/>
    </session-factory>
</hibernate-configuration>
